/* Desktop specific sytles */
@media screen and (min-width: 641px) {
	nav h1 {
		-moz-transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		transform: rotate(90deg);
		padding: 10px;
		margin: 32px -25px;
	}
	nav {
		z-index: 1000;
		position: fixed;
		min-width: 70px;
		text-align: center;
		padding: 0;
		margin: 0;
		max-width: 148px;
		background: #0A0;
		color: #fff;
		overflow: hidden;
		top: 36%;
		cursor: pointer;
		left: 0;
		display: block;
	}
	nav #menu {
		display: none;
	}
	nav:hover #menu {
		display: block;
	}
	nav:hover h1 {
		display: none
	}
	nav ul {
		text-align: left;
		width: 120px;
	}
	nav a {
		font-style: normal;
		display: block;
		color: #fff;
		text-decoration: none;
		padding: 6px 0 4px 16px;
		font-weight:400;
	}
	nav a:hover {
		outline-style: none;
		outline-color: invert;
		outline-width: 0;
		background: #459245;
		text-decoration: none;
		color: #dddddd;
	}
	nav a:focus {
		outline-style: none;
		outline-color: invert;
		outline-width: 0;
		background: #459245;
		text-decoration: none;
	}
	ul {
		border: 0;
		padding: 0;
		margin: 0;
		outline-style: none;
		outline-color: invert;
		outline-width: 0;
		background: none transparent scroll repeat 0 0;
		font-size: 100%;
		font-weight: normal;
	}
	li {
		border: 0;
		padding: 0;
		margin: 0;
		outline-style: none;
		outline-color: invert;
		outline-width: 0;
		background: none transparent scroll repeat 0 0;
		font-size: 100%;
		font-weight: normal;
	}
	header,footer,.sectionGroup {
		min-width: 630px;
	}
	header {
		display:block;
		/*position:relative;*/
		margin: 8px auto;
		width: 75%;
		height: auto;
	}
	footer {
		text-align:center;
		margin: 0 auto 8px auto;
		width: 75%;
		height: 100px;
		clear:both;
	}
	footer p {
		margin:0 10px 5px 10px;
		position:relative;
		top: 6px;
		font-size:9pt;
	}
	footer img {
		width:70px;
	}
	.sectionGroup {
		width:75%;
		margin:0 auto;
	}
	.main {
		width:72%;
		margin:0 0 8px 0;
		float:left;
		/*height:400px;*/
		min-height:585px;
	}
	.main h1 {
		text-align:center;
		font-size:19px;
		margin:5px;
	}
	.caption {
		text-align:center;
		font-size:12px;
		font-style:italic;
		margin:1px;
	}
	.image {
		margin:0 auto;
	}
	.main p {
		margin:0 50px 30px 50px;
		line-height:20px;
	}
	.sidebarSocial {
		width:27%;
		margin:0 1px 1px 1px;
		float:right;
		height:auto;
	}
	.sidebarSocial h1 {
		text-align:center;
		margin:5px 5px 0 5px;
	}
	.sidebarSocial a {
		margin: 5px;
	}
	#socialImages {
		height:32px;
		margin:5px auto 8px auto;
		display:block;
		width:117px;
	}
	#socialImages a {
		padding:0;
		margin:0;
	}
	.twit {
		width:27%;
		margin:8px 0 0 0;
		float:right;
		height:auto;
	}
	.twit p {
		margin:5px;
	}
	.clubPhoto {
		width:70%;
		margin:0 auto;
		display:block;
		padding:10px 0;
		/*transform:rotate(180deg);
		-webkit-transform:rotate(180deg);*/
	}
	.siteTitle {
		font-size:40px;
		height:auto;
		text-align:center;
		margin-bottom:6px;
	}
	.legalese {
		padding-top:15px;
	}
	.twitFix {
		width:97%;
		margin:5px auto 2px auto;
	}
	.titleWrap {
		width:98%;
		height:60%;
		display:block;
		position:relative;
		top:20px;
	}
	.subtitleWrap {
		height:40%;
		width:98%;
		margin:15px auto 0 auto;
		padding-bottom:10px;
		text-align:center;
	}
	.subtitleWrap h2 {
		width:365px;
		margin:0 auto;
		padding:2px;
		background-color:#DD2B27;
		border:1px solid #F7322E;
	}
}
